<%
   section_id = "payments" if section_id.blank?
%>
<section id="<%= section_id %>" class="subrecord-form-dummy">

  <h3><%= I18n.t("payment._plural") %></h3>

  <%= readonly_context :payment do |readonly| %>

    <div class="subrecord-form-container">
      <% payments.each do |payment| %>
          <div class="subrecord-form-fields">
            <%= read_only_view(payment, :label_css => "span4") %>

            <% if !payment["authorizer"].blank? %>
              <div class="token-list">
                <%= readonly.label_with_field(:authorizer, render_token(:object => payment,
                                                                       :label => payment["authorizer"]["_resolved"]["title"],
                                                                       :type => payment["authorizer"]["_resolved"]["agent_type"],
                                                                       :uri => payment["authorizer"]["_resolved"]["uri"])) %>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>

  <% end %>

</section>
