<%
   section_id = "payments" if section_id.blank?
%>
<section id="<%= section_id %>" class="subrecord-form-dummy">

  <h3><%= I18n.t("payment._plural") %></h3>

  <%= readonly_context :payment do |readonly| %>

    <div class="subrecord-form-container">
      <%= readonly.list_for(payments, "payments[]") do |payment, index| %>
          <div class="subrecord-form-fields">

            <%= readonly.label_and_textfield "invoice_number" %>

            <% if payment['amount'] %>
                <%= readonly.label_with_field('amount', readonly.textfield('amount', CurrencyFormatter.number_to_currency(payment['amount']), {})) %>
            <% end %>

            <%= readonly.label_and_textfield "payment_date" %>

            <% if payment['fund_code'] %>
                <%= readonly.label_with_field('fund_code', readonly.textfield('fund_code', I18n.t('enumerations.payment_fund_code.' + payment['fund_code']), {}), {}) %>
            <% end %>

            <% if payment['usd_amount'] %>
                <%= readonly.label_with_field('usd_amount', readonly.textfield('usd_amount', CurrencyFormatter.number_to_currency(payment['usd_amount']), {})) %>
            <% end %>

            <% if !payment["authorizer"].blank? %>
              <div class="token-list">
                <%= readonly.label_with_field(:authorizer, render_token(:object => payment,
                                                                       :label => payment["authorizer"].fetch("_resolved")["title"],
                                                                       :type => payment["authorizer"].fetch("_resolved")["agent_type"],
                                                                       :uri => payment["authorizer"].fetch("_resolved")["uri"])) %>
              </div>
            <% end %>

            <%= readonly.label_and_textfield "note" %>
          </div>
      <% end %>
    </div>

  <% end %>

</section>
