<%
   section_id = "payment_summary" if section_id.blank?
%>
<section id="<%= section_id %>" class="subrecord-form-dummy">
  <h3><%= I18n.t("plugins.payment_summary._plural") %></h3>
  <div class="subrecord-form-container">
    <div class="subrecord-form-fields">

      <%= readonly_context(:payment_summary, payment_summary) do |readonly| %>
        <%= readonly.label_with_field('total_price', readonly.textfield('total_price', CurrencyFormatter.number_to_currency(payment_summary['total_price']), {})) %>
        <%= readonly.label_and_textfield("currency") %>
        <%= readonly.label_and_boolean("in_lot") %>
      <% end %>


      <% if payment_summary["payments"].length > 0 %>
        <%= render :partial => "payments/show", :locals => {:payments => payment_summary["payments"]} %>
      <% end %>
    </div>
  </div>
</section>
